/aula1101 chinelandia/1_in.txt
/aula1101 chinelandia/1_out.txt
/aula1101 chinelandia/2_in.txt
/aula1101 chinelandia/2_out.txt
/aula1101 chinelandia/3_in.txt
/aula1101 chinelandia/3_out.txt
/aula1101 chinelandia/4_in.txt
/aula1101 chinelandia/4_out.txt
/aula1101 chinelandia/5_in.txt
/aula1101 chinelandia/5_out.txt
/aula1101 chinelandia/6_in.txt
/aula1101 chinelandia/6_out.txt
/aula1101 chinelandia/7_in.txt
/aula1101 chinelandia/7_out.txt
/aula1101 chinelandia/material_aula11/
/aula1101 chinelandia/output.txt
/aula1101 chinelandia/input.txt
